<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" style="text-align: left">
    <h1 style="color: #bbbbbb; text-shadow: 2px 2px #f0f0f0; text-align: left">API docs</h1>
    <p style="color: #666666; margin-bottom: 20px;">Using the library in C or Python
    </p>
     <p class="wiblockbtn">
            <a class="btn btn-primary" href="c_api.html">C api docs &raquo;</a></p>         
       <p class="wiblockbtn">
            <a class="btn btn-primary" href="python_api.html">Python api docs &raquo;</a></p>       
      
      
  </div>  
</div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6 wblock wblock1">
      <div class="wiblock wiblock1">
      <h2>C api</h2>
      <p>
      Use this for maximum speed and integration with fast near-iron software.
      
      <p class="wiblockbtn">
            <a class="btn btn-primary" href="c_api.html">C api docs &raquo;</a></p>         
      
      </div>
    </div>
    <div class="col-md-6 wblock wblock1">
      <div class="wiblock wiblock2">
        <h2>Python api</h2>
        <p>
        Ease of use.
       
        <p class="wiblockbtn">
            <a class="btn btn-primary" href="python_api.html">Python api docs &raquo;</a></p>         
    
      </div>
    </div>
   
   
  </div>
</div>
