
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="margin-bottom: 100px;">
  <div class="container" style="text-align: left">
    <h1 class="jumbotron_title">Download </h1>
    <p class="jumbotron_caption">Github snapshot or a tested release: both options are OK for Linux and Windows
    </p>
    <p style="margin-top: 30px;">
    <a class="btn smallbtn btn-primary" style="margin-right: 30px;" 
        href="https://github.com/priitj/whitedb">Development on Github &raquo;</a>
    <a class="btn smallbtn btn-primary" href="#">Release whitedb-0.6.tar.gz </a>
    </p>
  </div>  
</div>


 