


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" style="text-align: left">
    <h1 class="jumbotron_title">Licence</h1>
    <p class="jumbotron_caption">WhiteDB is dual licensed for both free-as-in-speech and  free-as-in-beer
    </p>
  </div>  
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
     <div class="col-md-12 wblock">
      <div class="wiblock wiblock_full wiblock_single">
      
      <h2 class="wiblock_full">GPL</h2>
      <p>
      The default licence of WhiteDB is <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>.     
      </p>
      <p>
      <h2 class="wiblock_full_header">Free commercial licence</h2>
      <p>
       If GPLv3 does not fit your needs, we provide a nonrestrictive, royalty-free commercial licence for free (as in beer).
       <p>
       A free licence is provided for all kinds of applications/projects except those which are distributed
       and marketed as database systems to be used by other developers: in the latter case you can still use
       GPLv3.
        <p>       
        Please write to tanel.tammet at gmail.com with the subject "WhiteDB licence" and indicate the following:
        <ul>
        <li>Name of the licensee: person or company.
        <li>Address and email of the licensee        
        <li>The name of your software/project you intend to use WhiteDB for.
        <li>One sentence describing the purpose of the software/project.
        </ul>      
      The commercial licence will be emailed to you in a few days.  
      </div>
    </div>        
  </div>
</div>
