<!-- jumbotron for a primary message  -->

<div class="jumbotron" id="jumbotron">
  <div class="container" style="text-align: left">
    <h1 class="jumbotron_title">Tutorial</h1>
    <p class="jumbotron_caption">A good place to start
    </p>
  </div>  
</div>

<!-- sidemenu for large screens -->

<div id="sidemenu" class="hidden-print sidemenu" role="complementary">
<div class="isidemenu">  
<h3 class="menutitle">Contents</h3>
$toc
</div>
</div>

<!-- main content -->

<div class="container" id="maincontainer">
  <div class="row">
     <div class="col-md-12 wblock wblock1">
      <div class="wiblock wiblock_full">      
$content
      </div>
    </div>        
  </div>
</div>  